body{
  font-family: 'Lato', sans-serif;
}
img{
  max-width: 100%;
}
.quitar-float{
  float: none;
}
.espacio-arriba{
  margin-top: 100px;
}
.espacio-derecha{
  margin-right:1.5em;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}
.grande{
  font-size: 4em;
}
h1{
  color: #637329;
}
a,.azul{
  color: #F0A647;
  font-weight: bold;
}
.no-lista li{
  list-style-type: none;
}
.no-lista {

  margin: 0;
  padding: 0;
}
.se-gris{
  background-color: #eee;
}
.padding-largo{
  padding: 5px 10px;
}
.inline-block{
  display: inline-block;
  float: none;
}
.imagen{
  width: 50%;
  margin-left: 25%;
}
.block{
  display: block;
}
